/.idea/*
/androidAPK/.idea/*
/androidAPK/build/*
/androidAPK/app/src/main/jniLibs/*
/androidAPK/app/src/main/libs/*
/golangSrc/cmd/unzippedAPK/*
/golangSrc/cmd/Clock_Service.apk
/golangSrc/pkg/goservice/goservice-sources.jar
