<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="0.0.1">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:required="true" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        android:required="true" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
        android:required="true" />

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />

    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:required="true" />

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="true" />

    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />

    <application
        android:icon="@mipmap/icon"
        android:label="Clock Service">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.golang.app.GoNativeActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="Clock_Service" />
        </activity>
        <service
            android:name="com.leohalb.fyneforeground.GoForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
    </application>
</manifest>
